@import url("https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap");

body {
    height: 100vh;
    align-items: center;
    justify-content: center;
    margin: 0;
}

nav {
    display: flex;
    align-items: center;
    position:relative;
}

#grad {
    background-image: linear-gradient(to bottom right, rgb(116, 17, 197), rgb(161, 13, 70));
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
}

.cardMain {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;

}

.card {
    cursor:auto;
    display: flex;
    flex-direction: column;
    min-width: 100px;
    max-width: 500px;
    text-align: center;
    min-height: 100px;
    border-radius: 20px;
    margin: 20px;
    transition: 0.3s;

}

.card:hover {
    transform: translateY(-10px);
    box-shadow: #301C59;
    background-color: #95cfb3;
}

.cardText *{
    margin: 0.5rem;
}

.cardDesc {
    font-weight: 700;
    opacity: 0.7;
}

.cardButtonText {
    color: #62C193;
}

.logo-img {
    max-width:350px;
    max-height:300px;
    position:relative;
    width:60%;
    padding:0 auto;
    margin:0 auto;
    align-items: center;
}

.footer {
    max-width:100%;
    max-height:100%;
    position:relative;
    width:60%;
    margin:0 auto;
    text-align: center;
    font-weight: 700;
}

/* botões dos cards */
.btnCards {
    cursor: pointer;
    background-color: #0a021a ;
    color: white;
    border-style: outset;
    border: 2px solid  #f0edf121;
    border-radius: 10px;
    padding: 7px 10px 7px 10px;
    text-decoration: none
}
.btnCards:hover {
    background-color: #6D2DBB ;
    color: white;
    border-style: outset;
    border: 2px solid #8674B0;
    border-radius: 10px;
    padding: 10px 20px 10px 20px;
    text-decoration: none
}

footer img {
    margin-top: 10px;
}