body {
    height: 100vh;
    align-items: center;
    justify-content: center;
    margin: 0;
}

#grad {
    background-image: linear-gradient(to bottom right, rgb(116, 17, 197), rgb(161, 13, 70));
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
}

.logo-img {
    max-width: 150px;
    max-height: 100px;
    position: relative;
    width: 60%;
    padding: 0 auto;
    margin: 0 auto;
    align-items: center;
}

body {
    margin-top: 20px;
    background-color: #f2f6fc;
    color: #69707a;
}

.img-account-profile {
    height: 10rem;
    border: 3.5px solid #c086e8;
    padding: 4.5px;
}

.rounded-circle {
    border-radius: 50% !important;
}

.card {
    box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 / 15%);
}

.card .card-header {
    font-weight: 500;
}

.card-header:first-child {
    border-radius: 0.35rem 0.35rem 0 0;
}

.card-header {
    padding: 1rem 1.35rem;
    margin-bottom: 0;
    background-color: rgba(33, 40, 50, 0.03);
    border-bottom: 1px solid rgba(33, 40, 50, 0.125);
}

.form-control,
.dataTable-input {
    display: block;
    width: 100%;
    padding: 0.875rem 1.125rem;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1;
    color: #69707a;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #c5ccd6;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.35rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.nav-borders .nav-link.active {
    color: #0061f2;
    border-bottom-color: #0061f2;
}

.nav-borders .nav-link {
    color: #69707a;
    border-bottom-width: 0.125rem;
    border-bottom-style: solid;
    border-bottom-color: transparent;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0;
    padding-right: 0;
    margin-left: 1rem;
    margin-right: 1rem;
}

nav {
    display: flex;
    align-items: center;
    position: relative;
    background-color: rgb(255, 255, 255);
    margin-bottom: 20px;
}
.footer {
    max-width: 100%;
    max-height: 100%;
    position: relative;
    width: 60%;
    margin: 0 auto;
    text-align: center;
    font-weight: 700;
}
footer {
    padding: 20px;
}